.comment-item {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgrey;
}

.comment {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 20px;
}

.comment-image {
    width: 80px;
    min-width: 80px;
    margin-right: 20px;

    img {
        border-radius: 100%;
    }
}

.comment-content {
    flex-grow: 1;
}

.comment-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.comment-name {
    font-size: 1.1rem;
    font-weight: bold;
}

.comment-date {
    font-size: 95%;
}

.comment-replies-action {
    &.has-form {
        .comment-reply-button {
            display: none;
        }
    }
}

.comment-replies-list {
    margin-left: 100px;
    margin-top: 30px;

    .comment-item {
        &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none;
        }
    }
}