.webexcess-comment-form {
  margin-bottom: 50px; }

.comment-item {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgrey; }

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 20px; }

.comment-image {
  width: 80px;
  min-width: 80px;
  margin-right: 20px; }
  .comment-image img {
    border-radius: 100%; }

.comment-content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.comment-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

.comment-name {
  font-size: 1.1rem;
  font-weight: bold; }

.comment-date {
  font-size: 95%; }

.comment-replies-action.has-form .comment-reply-button {
  display: none; }

.comment-replies-list {
  margin-left: 100px;
  margin-top: 30px; }
  .comment-replies-list .comment-item:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none; }
