{namespace comments=WebExcess\Comments\ViewHelpers}
<f:form.validationResults for="comment.{fieldname}">
    <div class="clearfix{f:if(condition: validationResults.flattenedErrors, then: ' error')}">
        <label for="{fieldname}"><comments:translate id="comment.form.{fieldname}" />{f:if(condition: required, then: '<sup class="is-required">*</sup>')}</label>
        <div class="input">
            <f:form.textarea property="{fieldname}" id="{fieldname}" rows="3" />
        </div>
        <f:render partial="Validation" arguments="{fieldname: fieldname}" />
    </div>
</f:form.validationResults>
