<f:form.validationResults for="comment.{fieldname}">
    <div class="mf-textarea{f:if(condition: validationResults.flattenedErrors, then: ' mf-has-error')}">
        <f:form.textarea property="{fieldname}" id="{fieldname}" rows="3" class="mf-textarea-field" />
        <div class="mf-textarea-bar"></div>
        <label for="{fieldname}" class="mf-textarea-label"><f:translate id="comment.form.{fieldname}" />{f:if(condition: required, then: '<sup class="is-required">*</sup>')}</label>
        <f:render partial="Validation" arguments="{fieldname: fieldname}" />
    </div>
</f:form.validationResults>
