{namespace comments=WebExcess\Comments\ViewHelpers}
<f:validation.results for="comment.{fieldname}">
    <div class="mf-input{f:if(condition: validationResults.flattenedErrors, then: ' mf-has-error')}">
        <f:form.textfield property="{fieldname}" id="{fieldname}" type="{f:if(condition: type, then: type, else: 'text')}" class="mf-input-field" />
        <div class="mf-input-bar"></div>
        <label for="{fieldname}" class="mf-input-label"><comments:translate id="comment.form.{fieldname}" />{f:if(condition: required, then: '<sup class="is-required">*</sup>')}</label>
        <f:render partial="Validation" arguments="{fieldname: fieldname}" />
    </div>
</f:validation.results>
